#title{
  float:right;
  align-content: center;
  color: gray;
  text-align: center;
  font-size: 100;
  padding-right: 38%;

}

#blurb{
  color: gray;
  padding-top: 10%;
  padding-left: 20%;
}

#next{
  position: absolute;
  background-color: blue;
  color:black;
  left: 48%;
  height: 40;
  border-radius: 20%;

}

#but{
  padding-top: 5%;
}

#one{
  color:blue;
}

#two{
  color:red;
}

#three{
  color:yellow;
}

#four{
color:green;
}
