#title{
  float:right;
  align-content: center;
  color: gray;
  text-align: center;
  font-size: 100;
  padding-right: 38%;
  padding-top: 5%;

}

#blurb{
  color: gray;
  padding-top: 10%;
  padding-left: 20%;
}

#next{
  position: absolute;
  background-color: blue;
  color:black;
  left: 45%;
  height: 40;
  width: 100;
  font-size: 20;
  border-radius: 20%;
  display: inline-block;
  border: none;

}

#but{
  padding-top: 5%;
}

#one{
color: blue;
}

#two{
  color:red;
}

#three{
  color: yellow;
}

#four{
  color:green;
}
span {
  font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2E2E2E;
    min-width: 80px;
    padding: 10px 10px;
    font-size: 30;
    z-index: 1;
    color: white;
    border-radius: 20%;
}

.dropdown:hover .dropdown-content {
    display: block;
}
