<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="resources/login.css"/>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="login.js"></script> -->
</head>
<body>
  <div id="header_div"><h1 id="login_header">Log In</h1></div>
  <p>Welcome to JAMR!</p>
  <div class="login_div" id="previous_user">
    <form>
      Spotify Username: <input type="text" name="username"></input>
    </br>
      <button type="submit">Submit</button>
    </form>
  </div>
  <p>Username is: {{name}}</p>
  <!-- <p>Genres:</p>
  {%for genre_type in genres%}
  <p>{{genre_type}}</p>
  {%endfor%} -->
  <span id="genre_span"><h1>{{maxGenre}}:{{location}}</h1></span>
</br>
  <a href="https://sonic-potion-175714.appspot.com/go"><button>Go!</button></a>
</body>
</html>
