<html>
<head>
  <link rel="stylesheet" href="resources/welcome-page.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="welcome.js"></script>
</head>
<body>
  <img src="https://cdn.dribbble.com/users/441326/screenshots/3165191/spotify-gif---oliver-keane.gif" width="200" height="180">
  <body bgcolor="black">
<div id=title>
    <div class="dropdown">
      <span id="one">J</span>
      <div class="dropdown-content">
        <a href="resources/guy1.jpg"><p id="one">Jorge!</p></a>
      </div>
    </div>
    <div class="dropdown">
      <span id="two">A</span>
      <div class="dropdown-content">
        <a href="resources/14u0pw.jpg"><p id="two">Amelia!</p></a>
      </div>
    </div>
    <div class="dropdown">
      <span id="three">M</span>
      <div class="dropdown-content">
        <a href="resources/guy2.gif"><p id="three">Makenna!</p></a>
      </div>
    </div>
    <div class="dropdown">
      <span id="four">R</span>
      <div class="dropdown-content">
        <a href="resources/guy3.jpg"><p id="four">Rose!</p></a>
      </div>
    </div>
  </div>
<div>
  <h2 id="blurb">With our application, music entertainment goes beyond the audible level.</h2>
</div>
  <br>
  <div id="but">
  <a href="https://sonic-potion-175714.appspot.com/login?username=amelialutz9"><button id="next" >Continue</button></a>
</div>
</body>
</html>
